# Projects - alag repo mein jaayenge
Mega PROJECT 1. JARVIS/
PROJECT 1 SNAKE, WATER, GUN GAME/
PROJECT 2 THE PERFECT GUESS/
QR Code PROJECT/
Numpy/
steamlit/
Use of APIs in python/
practice/
praticing python/
.idea/
functional_programming.py
time_counter.py
